# Testing requirements:
#
coverage==5.3
flake8==3.8.4
mypy==0.790
pytest==6.1.1
pytest-cov==2.10.1
pytest-flake8==1.0.6
pytest-mypy==0.7.0
# pytest-watch==4.2.0
-e git+https://github.com/wouter-vdb/pytest-watch@4.3.0-fork#egg=pytest-watch
